.module-button {
    background-color: red;
    color: white;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.tab-left {
    margin-left: 20px;
}

.flush-right {
    margin-right: 0px;
}

.top-bar {
  display: flex;             /* Enable flexbox */
  align-items: center;      /* Vertical alignment for all items */
  gap: 10px;  
}

/* This targets the container that holds buttons specifically */
.button-container {
  display: flex;            /* Enable flexbox for the buttons' container */
  flex-direction: column;   /* Align buttons vertically */
  align-items: center;      /* Center the buttons horizontally */
  margin: 0 auto;           /* Center the button container itself */
}